<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Rastreador de Preços{% endblock %}</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Rastreador de Preços</a>
            <div>
                <a class="btn btn-light me-2" href="{{ url_for('adicionar_produto') }}">Adicionar Produto</a>
                <a class="btn btn-light me-2" href="{{ url_for('listar_produtos') }}">Produtos Monitorados</a>
                <a class="btn btn-light me-2" href="{{ url_for('relatorio') }}">Relatório de Preços</a> 
                <a class="btn btn-light me-2" href="{{ url_for('graficos') }}">Ver Gráficos</a>
                 

                {% if session['username'] %}
                    <span class="text-light me-2">
                        Bem-vindo, {{ session['username'] }}!
                    </span>
                    <a class="btn btn-light" href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a class="btn btn-light me-2" href="{{ url_for('login') }}">Login</a>
                    <a class="btn btn-light" href="{{ url_for('register') }}">Cadastrar</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    
    
</body>
</html>