<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Produtos Monitorados{% endblock %}</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <h2 class="mb-4">Produtos Monitorados</h2>
    <a class="btn btn-light me-2" href="{{ url_for('listar_produtos') }}">Produtos Monitorados</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>URL</th>
                <th>Preço Desejado</th>
                <th>E-mail</th>
                <th>Última Consulta</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto[0] }}</td>
                <td><a href="{{ produto[1] }}" target="_blank">{{ produto[1] }}</a></td>
                <td>R$ {{ "%.2f"|format(produto[2]) }}</td>
                <td>{{ produto[3] }}</td>
                <td>{{ produto[4] }}</td>
                <td>
                    <form action="{{ url_for('deletar_produto', nome=produto[0]) }}" method="post" style="display:inline;">
                        <button type="submit" onclick="return confirm('Tem certeza que deseja excluir este produto?');">Excluir</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>
</html>