<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Produtos Monitorados{% endblock %}</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <h2 class="mb-4">Produtos Monitorados</h2>
    <a class="btn btn-light me-2" href="{{ url_for('listar_produtos') }}">Clique para iniciar o Timer de preços!</a>

    <!-- Botão para iniciar o timer -->
    <form action="{{ url_for('iniciar_timer') }}" method="post" style="display:inline;">
        <button type="submit" class="btn btn-success mb-3">Iniciar Timer</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>URL</th>
                <th>Preço</th>
                <th>Preço Desejado</th>
                <th>Email</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto[1] }}</td>
                <td><a href="{{ produto[2] }}" target="_blank">Link</a></td>
                <td>
                    {% if produto[3] is number %}
                        R$ {{ "%.2f"|format(produto[3]) }}
                    {% else %}
                        Valor Inválido
                    {% endif %}
                </td>
                <td>
                    {% if produto[4] is number %}
                        R$ {{ "%.2f"|format(produto[4]) }}
                    {% else %}
                        Valor Inválido
                    {% endif %}
                </td>
                <td>{{ produto[5] }}</td>
                <td>{{ produto[6] }}</td>
                <td>
                    <a href="{{ url_for('editar_produto', produto_id=produto[0]) }}" class="btn btn-sm btn-primary">Editar</a>
                    <form action="{{ url_for('deletar_produto', nome=produto[1]) }}" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-sm btn-danger">Deletar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('adicionar_produto') }}" class="btn btn-primary">Adicionar Produto</a>
{% endblock %}
</body>
</html>