{% extends 'base.html' %}

{% block content %}
    <h2>Cadastro</h2>
    <form method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Nome de Usuário:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
    <p>Já tem uma conta? <a href="{{ url_for('login') }}">Faça login</a></p>
{% endblock %}