<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Relatório de Preços{% endblock %}</title>
    <!-- Adicione aqui os links para os arquivos CSS do Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        {% block content %}
        <a href="{{ url_for('index') }}" class="btn btn-secondary ms-2">Início</a>
        <h2 class="mb-4">Relatório de Preços dos Produtos</h2>
        {% for nome, consultas in produtos.items() %}
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">{{ nome }}</h5>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Data da Consulta</th>
                            <th>Preço</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for consulta in consultas %}
                        <tr>
                            <td>{{ consulta.data }}</td>
                            <td>R$ {{ "%.2f"|format(consulta.preco) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
        {% endblock %}
    </div>

    <!-- Adicione aqui os scripts do Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>